# Entorno Python
.venv/
__pycache__/
*.pyc
*.pyo
.env

# Vídeos y frames (demasiado grandes para git)
data/videos/
data/frames/
data/dataset/raw/
data/dataset/merged/

# Pesos de modelos
*.pt
models/tmp_v4/
models/weights/
runs/
yolov8m.pt

# Outputs (vídeos y CSVs generados — demasiado grandes)
outputs/tracked_videos/
outputs/metrics/*.csv

# Jupyter
.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db
